@charset "UTF-8";

* {
	margin: 0%;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url(../image/modern-living-room-interior-with-sofa-blue-wall-background_802770-306.jpg) no-repeat;
	background-size: cover;
	background-position: center;

	